body {
    background-image: url("../images/natural_paper_@2X.png");
}

h1 {
    font-size: 80px;
    color: gainsboro;
}

h3 {
    color: gainsboro;
}

label {
    font-weight: bolder;
}

.image {
    background-image: url("../images/train-2.jpg");
    background-size: cover;
}

.card-header {
    color: gainsboro;
}