@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
body {
    background-color: gainsboro;
    background-image: url("../images/train-4.jpg");
    background-repeat: round;
    font-weight: bolder;
    font-family: 'Courgette', cursive;
}

h1 {
    font-size: 60px;
}

.card-header {
    color: gainsboro;
}

.card {
    background-color: gainsboro;
    opacity: .8;
}

.time {
    font-size: 32px;
    font-weight: bolder;
}