body {
    background-color: gainsboro;
    background-image: url("../images/train-3.jpg");
    background-repeat: round;
}

h1 {
    font-size: 80px;
    color: black;
    font-weight: bolder;
}

h3 {
    color: black;
    font-weight: bolder;
}

label {
    font-weight: bolder;
}

.image {
    /* background-image: url("../images/train-2.jpg"); */
    background-size: cover;
}

.card-header {
    color: gainsboro;
}

.card {
    background-color: gainsboro;
}